@import "../../variables.scss";

.productCard {
  display: flex;
  max-width: 60rem;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__productContent {
    background-color: $bg-pure-white;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    max-width: 50%;

    .productName {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 5px;
      color: $text-paragraph;
      margin-bottom: 2rem;
    }

    .productTitle {
      color: $text-guneMetal;
      font-size: 3.2rem;
      line-height: 3.2rem;
      margin-bottom: 2.4rem;
      font-family: "Fraunces", serif;
      font-weight: 700;
    }

    .productDescription {
      color: $text-paragraph;
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-bottom: 2.9rem;
      font-weight: 500;
    }

    .cartBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      height: 4.8rem;
      width: 100%;
      border: none;
      color: $bg-pure-white;
      background-color: $bg-deep-aquaMarine;
      border-radius: 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $bg-hover;
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}

.pricingContainer {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  &__price {
    &_main {
      color: $text-accent;
      font-size: 3.2rem;
      line-height: 3.2rem;
      font-family: "Fraunces", serif;
      font-weight: 700;
    }

    &_sub {
      color: $text-paragraph;
      font-size: 1.3rem;
      text-decoration: line-through;
    }
  }
}
